﻿.wrapper {
    width: 961px;
    margin: 0 auto;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-color: white;
    box-shadow: 0 5px 80px 15px rgba(0, 0, 0, 0.3);
}

.logo {
    width: 380px;
    height: 100px;
    float: left;
    vertical-align: middle;
    position: relative;
    padding-left: 20px;
    background-color: #3F51B5;
    box-shadow: 0 40px 40px -35px rgba(0, 0, 0, 0.3) inset, 0 -40px 40px -35px rgba(0, 0, 0, 0.3) inset;
}

.logoImg {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
}

.mainMenu {
    width: 561px;
    height: 100px;
    float: left;
    text-align: right;
    vertical-align: text-top;
    background-color: #3F51B5;
    box-shadow: 0 40px 40px -35px rgba(0, 0, 0, 0.3) inset, 0 -40px 40px -35px rgba(0, 0, 0, 0.3) inset;
    color: white;
}

.menuBar {
    width: 880px;
    float: left;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
}

.hLine {
    width: 961px;
    border-top: 1px solid #999999;
}

.vLine {
    height: 420px;
    float: left;
    border-left: 1px solid #999999;
}

.contentHeader {
    padding-left: 40px;
}

.contentH1 {
    font-size: x-large;
    line-height: 0.1;
}

.contentH2 {
    font-size: small;
    line-height: 0.1;
    color: #999999;
}

.content {
    width: 961px;
}

.contentHalf {
    float: left;
}

.contentLeft {
    width: 200px;
    float: left;
    padding-left: 40px;
}

.contentRight {
    width: 200px;
    float: left;
    padding-right: 40px;
}

.contentCentral {
    width: 880px;
    float: left;
    padding-left: 40px;
    padding-right: 40px;
}

.contentCentralLeft {
    width: 475px;
    float: left;
    padding-right: 5px;
    text-align: right;
}

.contentCentralRight {
    width: 475px;
    float: left;
    padding-left: 5px;
    text-align: left;
}

.contentCode {
    padding-left: 40px;
}

.clear {
    clear: both;
}

.checkBoxCategory {
    display: inline-block;
}

.shopItem {
    width: 320px;
    height: 250px;
    text-align: center;
    vertical-align: bottom;
}

.manageUsersWidth {
    width: 100px;
}

#TA_description {
    width: 840px;
    height: 101px;
}

#TA_techDetails {
    width: 840px;
    height: 101px;
}

body {
    background-color: #DFDDDA;
}

p {
    line-height: 1.4;
}
